@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Reddit Mono', monospace;
  min-height: 100vh;
  background: url(images/register.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
}

img {
  width: 50px;
  margin-right: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#about {
  width: 50%;
  margin-top: 120px;
  color: white;
  font-size: 20px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 1px 1px 10px hsl(0, 0%, 70%);
  animation: forwards zoomIn 0.5s ease;
}



.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  margin: 0 10px;
}

.hamburger-menu {
  display: none;
}

.menu-btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.menu-btn .nav-icon {
  width: 30px;
  height: 5px;
  background-color: #fff;
  display: block;
  position: relative;
  transition: background-color 0.3s ease;
}

.menu-btn .nav-icon:before,
.menu-btn .nav-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

.menu-btn .nav-icon:before {
  top: -10px;
}

.menu-btn .nav-icon:after {
  top: 10px;
}

.menu-btn.active .nav-icon {
  background-color: transparent;
}

.menu-btn.active .nav-icon:before {
  transform: rotate(45deg);
  top: 0;
}

.menu-btn.active .nav-icon:after {
  transform: rotate(-45deg);
  top: 0;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 10px 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.mes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}


a {
  text-decoration: none;
  color: black;
}


#welcome-message {
  margin-top: 15px;
  margin-right: 25px;
}


#addFlatBtn, #seeFlatBtn, #updateInfoBtn, #favoritesBtn, #saveBtn {
  width: 100px;
  height: 45px;
  margin-top: 15px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

#addFlatBtn:hover, #seeFlatBtn:hover, #updateInfoBtn:hover, #favoritesBtn:hover, .logout:hover,  #saveBtn:hover, #updateBtn:hover  {
  background-color: bisque;
}

#saveBtn, #updateBtn {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}


#deleteBtn, #favoriteBtn {
  width: 25%;
  height: 20px;
  margin-top: 15px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 11px;
  color: #333;
  font-weight: 600;
}


#deleteBtn:hover, #favoriteBtn:hover {
  background-color: bisque;
}

#addFlat, #updateInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 500px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 1px 1px 10px hsl(0, 0%, 70%);
  animation: forwards zoomIn 0.5s ease;
}


.logout {
  width: 100px;
  height: 45px;
  margin-top: 15px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

#flatsTable {
  width: 75%;
  background: transparent;
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 1px 1px 10px hsl(0, 0%, 90%);
  animation: forwards zoomIn 0.5s ease;
}

#favTable {
  width: 65%;
  background: transparent;
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 1px 1px 10px hsl(0, 0%, 90%);
  animation: forwards zoomIn 0.5s ease;
}


td {
  border-right: 2px solid black;
}
td:nth-child(1) {
  border-left: 2px solid black;
}

th {
  width: 11%;
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px;
  margin: 0 10px;
}

.fa-sort {
  color: white;
}

.fa-sort:hover {
  color: blue;
}

.fa-trash {
 color: red;
}

.fa-heart {
  color: orange;
}

.form-group input {
  width: 100%;
  height: 35px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

#updateInfo input {
  width: 100%;
  height: 35px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

#hasAC {
  width: 100px;
  height: 30px;
  margin: 10px 0;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 15px;
}

option {
  margin-top: 15px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
}



@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}



/* Media Queries */

/* Mobile devices */
@media only screen and (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
  }

  #about {
    width: 100%;
  }

  #flatsTable, #favTable {
    width: 100%;
    font-size: 8px;
  }


  #addBody, #favBody {
    width: 100%;  
    font-size: 8px;
  }


  header img {
    width: 30px;
    margin-right: 50px;
  }

 .container {
    margin-top: 50px;
  }

  .btns {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  #menu-toggle {
    display: none;
  }

  .menu {
    display: none;
    position: static;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(9px);
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #logout {
    width: 80%;
    height: 45px;
    margin-top: 15px;
    margin-right: 35px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

  #addFlatBurger, #seeFlatBurger, #updateInfoBurger, #favoritesBurger {
    width: 90%;
    height: 40px;
    font-size: 11px;
    margin-right: 75px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
  }

  #deleteBtn, #favoriteBtn {
    width: 50%;
    height: 20px;
    font-size: 10px;
  }

  #addFlat, #addInfo {
    width: 400px;
    padding: 20px 30px;
  }

 .form-group input {
    height: 30px;
    padding: 15px 35px;
  }

  #hasAC {
    width: 80px;
    height: 25px;
  }

  option {
    font-size: 14px;
  }

 .save {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
}

/* Tablets (landscape) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header img {
    width: 40px;
    margin-right: 70px;
  }

  #about {
    width: 75%;
  }

  #flatsTable, #favTable {
    width: 100%;
    font-size: 11px;
  }

 .container {
    margin-top: 75px;
  }

 .btns {
    width: 50%;
  }

  #addFlatBtn, #seeFlatBtn, #updateInfoBtn, #favoritesBtn, #logout {
    width: 70px;
    height: 45px;
    font-size: 11px;
  }

  #deleteBtn, #favoriteBtn {
    width: 45px;
    height: 22px;
    font-size: 11px;
  }

  #addFlat, #addInfo {
    width: 450px;
    padding: 25px 35px;
  }

 .form-group input {
    height: 35px;
    padding: 18px 38px;
  }

  #hasAC {
    width: 85px;
    height: 28px;
  }

  option {
    font-size: 14px;
  }

 .save {
    width: 100%;
    height: 45px;
    font-size: 16px;
  }
}

